<div class="product-list-container">
    <div class="product-item">
        <div class="wishlist-sale-container">
            <div class="add-to-wishlist">
                <i class="fa fa-heart-o" aria-hidden="true"></i>
            </div>
            <!-- <div class="on-sale-tag" *ngIf="product.discount != ''">{{product.discount}}</div> -->
        </div>
        <div class="product-image">
            <img [src]="product.imageUrl">
        </div>
        <div class="add-to-price">
            {{product.price}}
        </div>
        <div class="product-name">{{product.name}}</div>
        <div class="product-category">{{product.gender}}, {{product.category}}, {{product.brand}}</div>
        <div class="product-avaliable-colors">{{product.color?.length}} colors Best Seller</div>
        <div class="ecart-product-in-stock" [ngStyle]="{fontWeight:'bold',color:product.is_in_inventory ? 'Green':'Red'}">
            {{product.is_in_inventory ? 'Avalible in stock':'Not avalible in stock'}}
        </div>
    </div>
</div>

