.product-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    padding: 5px 10px;
    margin: 0px 5px;
}
.ecart-featured-products{
    background-color: #282828;
    padding: 20px 10px;
    display: flex;
}
.ecart-featured-products-heading{
    width: 320px;
    margin: 10px 10px;
    padding: 20px 30px;
    color: #fff;
}

.call-to-action{
    background-color: #282828;
    color: #fff;
    width: 100%;
    padding: 10px 0px;
}